# Project 1: Class 1 & 2

# Codes- for numbers
# markdown - for text, html, etc..

# space "text" makes text file (under markdown)
## font size decreases
### small text

# Bold and Italic fonts

*italics*
_italics_
**bold**
_bold_
**_bold italics_**

# Cell options
create new cells= alt+Enter
run cells = ctrl+Enter
run cell and move to next cell = shift+Enter

### pep8 style guide- python guide

In [16]:
x = []
x
print (x)

[]

In [18]:
print ("Hello world!")

Hello world!

In [21]:
'Hello kitty'

'Hello kitty'

In [27]:
msg = "Hello Kitty"
msg

'Hello Kitty'

# object identification
type (object)

# all caps
msg.upper() = upper case
msg.lower() = lower case
msg.lower().title() = cap each word

In [29]:
msg.lower()

'hello kitty'

In [31]:
msg.upper()

'HELLO KITTY'

In [33]:
msg.lower().title()

'Hello Kitty'

In [ ]:
#concatenate objects
using + btwn strings concatenate strings
using + between values sums them

In [67]:
# to replace something, we need 2 arguments= "what 2 be replaced", "with what"
print("data_label".title().replace("_","\n"))

Data
Label

In [50]:
line1 = "My name is Humeera,"
line2 = "I have a beautiful daughter,"
line3 = "Her name is Anam,"
line4 = "We live together happily."
# concatenate the above strings while passing to print()
print(line1 + line2 + line3 + line4)

My name is Humeera,I have a beautiful daughter,Her name is Anam,We live together happily.

In [65]:
#Line with space in between
print(line1 + " " + line2 + " " + line3 + " " + line4)

My name is Humeera, I have a beautiful daughter, Her name is Anam, We live together happily.

In [63]:
# New line
print(line1 + "\n" + line2 + "\n" + line3 + "\n" + line4)

My name is Humeera,
I have a beautiful daughter,
Her name is Anam,
We live together happily.

In [61]:
# same function using sep=\n
print(line1, line2, line3, line4, sep = "\n")

My name is Humeera,
I have a beautiful daughter,
Her name is Anam,
We live together happily.

In [75]:
print(line1, line2, line3, line4, sep = "::")

My name is Humeera,::I have a beautiful daughter,::Her name is Anam,::We live together happily.

In [79]:
print([i for i in range(100 )])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [91]:
for i in range(10):
    print(f"happy {i}th birthday to me")

happy 0th birthday to me
happy 1th birthday to me
happy 2th birthday to me
happy 3th birthday to me
happy 4th birthday to me
happy 5th birthday to me
happy 6th birthday to me
happy 7th birthday to me
happy 8th birthday to me
happy 9th birthday to me

In [73]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

# ---- CLASS 2------

## Double quotes, single quotes and escape(\\)
escape sequences with quotation marks can be used to print the quotation mark within the string.
Using a backslash followed by Enter will allow single line string to be written across multiple lines

In [94]:
single_quotes='we live in \'Fargo\' which ia a beautiful place'
single_quotes

"we live in 'Fargo' which ia a beautiful place"

In [97]:
double_quotes = "Or we may use \"double quotes\" in double quotes."
read_backslash = "We may use two backslashes to print a single backslash: \\"
lines = "Every\nword\nis\na\nnew\nline"
new_line_and_tab = "We may start a new line \n\tand use tab for a hanging indent"

print(single_quotes)
print(double_quotes)
print(read_backslash)
print(lines)
print(new_line_and_tab)

we live in 'Fargo' which ia a beautiful place
Or we may use "double quotes" in double quotes.
We may use two backslashes to print a single backslash: \
Every
word
is
a
new
line
We may start a new line
	and use tab for a hanging indent

In [107]:
spaces ="   look at the weather.. it s beautiful   " 
spaces
spaces.lstrip()
spaces.replace("   ", "   ")

'   look at the weather.. it s beautiful   '

## Values

In [113]:
xint =5;
xfloat=4.5
xstr="5"
xint, xfloat, xstr

(5, 4.5, '5')

In [115]:
xint, type(xint)

(5, int)

In [117]:
xstr, type(xstr)

('5', str)

In [119]:
xfloat, type(xfloat)

(4.5, float)

In [129]:
# sum of int + float = float
xint + xfloat, type(xint + xfloat)

(9.5, float)

In [133]:
xstr + str(xfloat)

'54.5'

In [135]:
xstr + str(xint)

'55'

In [137]:
float(xstr) + xint

10.0

In [147]:
# power

2**6

64

In [163]:
2.0**1023

8.98846567431158e+307

In [ ]:
# over flow error: Floats can not be 2**1024 or larger

# LISTS

In [168]:
empty_list =[]
int_list =[1,2,3,4,5]
float_list=[1.1,2.2,3.3,4.5]
string_list =["grade1", "grade2", "grade3"]
mixed_list= [1, 5.5, "happy", "9"]

In [170]:
print(type(empty_list))
print(type(int_list))   
print(type(float_list))
print(type(string_list))
print(type(mixed_list))

<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>

In [172]:
print(mixed_list)

[1, 5.5, 'happy', '9']

In [178]:
for value in  mixed_list:
    print(type(value), value)

<class 'int'> 1
<class 'float'> 5.5
<class 'str'> happy
<class 'str'> 9